RewriteEngine On

# Redirige www.test.fr/index.php vers www.test.fr/index.php?page=index
RewriteCond %{THE_REQUEST} /index\.php [NC]
RewriteRule ^index\.php$ index.php?page=index [L,QSA]

# Redirige www.test.fr/xxx.php vers www.test.fr/index.php?page=xxx
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)\.php$ index.php?page=$1 [L,QSA]