/********** Import des fichiers de base ***********/
@import "./reset.scss";
@import "./variables.scss";
/********** Import des composants ***********/
@import "./components/_layout.scss";
@import "./components/_flexbox.scss";
@import "./components/_menu-burger.scss";
@import "./components/_switch.scss";

/********** Règles Générales ***********/
body {
    font-family: "Roboto";
}
a {
    text-decoration: none;
    font-family: "Pacifico";
    color: var(--fifthColor);
}
header {
    background-color: var(--firstColor);
    height: 100px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0px 2px 5px var(--fifthColor);
    position: fixed;
    top: 0;
    left: 0;
    img {
        height: 100%;
    }
    div.logo {
        height: 100px;
    }
    a {
        font-size: 1.2rem;
    }
    .menu a {
        font-size: 1.5rem;
        &:hover {
            color: var(--secondColor);
        }
    }
    .compte a {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 1rem;
    }
}
.header_height {
    height: 100px;
}
.background-image {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%), url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: -10;
    position: fixed;
    top: 0;
    left: 0;
}
.message-retour {
    padding: var(--gouttiere);
    width: 50%;
    margin-top: var(--gouttiere);
    margin-bottom: var(--gouttiere);
}
.erreur {
    background-color: var(--errorColorLight);
    color: var(--errorColor);
}
.photo_profil{
    height: 60px;
    width: 60px;
    img {
        border-radius: 50%;
    }
}
// Formulaire
form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gouttiere);
    background-color: var(--firstColor);
    padding: 60px;
    border-radius: var(--radiusLarge);

    div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: var(--gouttiere);
    }
    label {
        font-family: "Pacifico";
        width: 100%;
        font-size: 1.5rem;
        color: var(--secondColor);
        text-shadow: 0px 0px 10px black;
    }
    input {
        width: 100%;
        height: 30px;
        padding-left: 10px;
        font-family: "Roboto";
    }
    textarea {
        width: 100%;
        height: 50px;
    }
    .buttonForm {
        justify-content: center;    
        width: 100%;

        input[type=submit],input[type=button] {
            width: -moz-fit-content;
            width: fit-content;
            height: fit-content;
            padding: 4px 32px;
            margin-top: 20px;
            cursor: pointer;
            font-family: "Pacifico";
            font-size: 1.5rem;
            background-color: var(--thirdColor);
            color: var(--fifthColor);
            border-radius: var(--radiusLarge);
        }
    }

    input[type=submit],input[type=button] {
        width: -moz-fit-content;
        width: fit-content;
        height: fit-content;
        padding: 4px 32px;
        margin-top: 20px;
        cursor: pointer;
        font-family: "Pacifico";
        font-size: 1.5rem;
        background-color: var(--thirdColor);
        color: var(--fifthColor);
        border-radius: var(--radiusLarge);
    }
}

/********** Page de connexion ***********/
main#template_form_connexion {
    height: 100vh;

    div.formulaire {
        height: 65vh;
        background-color: var(--firstColor);
        border-radius: var(--radiusMedium);
        border: 10px solid var(--fifthColor);
        padding: var(--gouttiere);
        box-shadow: 0px 0px 10px black;

        form {
            width: 30%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
            gap: var(--gouttiere);
        }
        .lien_mdp_oublie {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
        }
    }
}

/********** Page d'accueil ***********/
main#accueil {
    height: calc(100vh - 100px);

    h1 {
        font-family: "Pacifico";
        font-size: 5rem;
        color: var(--thirdColor);
        background-color: var(--firstColor);
        padding: var(--gouttiere);
        border-radius: var(--radiusLarge);
    }
}

/********** Page du formulaire d'utilisateur ***********/
main#page_form_utilisateur {
    height: calc(100vh - 100px);

    form {
        justify-content: space-between;
        width: 80%;

        >div {
            width: 45%;
            &.buttonForm {
                width: 100%;
            }
        }
    }
}

/********** Page du formulaire pizza ***********/
main#page_form_pizza {

    form {
        justify-content: space-between;
        padding: 40px;
        margin: 40px 0;

        >div {
            width: 45%;

            &#div_p_nom {
                width: 25%;
            }
            &#div_p_description {
                width : 70%;
            }
        }
    }

    nav {
        background-color: var(--thirdColor);
        border-radius: var(--radiusLarge);
        padding: 10px;

        li {
            font-size: 1.2rem;
        }
        .separateur_etapes_pizza {
            font-family: "Pacifico";
            font-size: 1.5rem;
            color: var(--secondColor);
        }
    }

    #formComposition {
        form {
            >div {
                width: 100%;
                &#div_c_ref_pizza {
                    display: none;
                }
                &#div_c_ref_ingredient{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    >div {
                        width: 30%;
                        label {
                            text-align: center;
                        }
                        div.description {
                            font-family: "Roboto";
                            font-size: 0.8rem;
                            color: black;
                            text-shadow: none;
                            margin-top: var(--gouttiere);
                        }
                    }
                }
            }
            
        }
    }

}